In [1]:
import pandas as pd
import numpy as np

In [2]:
ipl = pd.read_csv('C:/Users/Arvin Brian/OneDrive/Desktop/Leetcode/IPL/IPL_Matches_2008-2020.csv')

In [3]:
ipl.head()
ipl.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [4]:
ipl["team1"].value_counts()

Royal Challengers Bangalore    108
Mumbai Indians                  97
Kolkata Knight Riders           95
Chennai Super Kings             94
Kings XI Punjab                 92
Delhi Daredevils                83
Rajasthan Royals                70
Sunrisers Hyderabad             59
Deccan Chargers                 39
Pune Warriors                   23
Delhi Capitals                  19
Gujarat Lions                   16
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Rising Pune Supergiant           7
Name: team1, dtype: int64

In [5]:
#for Delhi Capitals
ipl['team1']=ipl['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
ipl['team2']=ipl['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
ipl['winner']=ipl['winner'].str.replace('Delhi Daredevils','Delhi Capitals')
ipl['toss_winner']=ipl['toss_winner'].str.replace('Delhi Daredevils','Delhi Capitals')
#for sunrisers Hyderabad
''''ipl['team1']=ipl['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
ipl['team2']=ipl['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
ipl['winner']=ipl['winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
ipl['toss_winner']=ipl['toss_winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')'''
#ipl = ipl.drop(['neutral_venue'], axis=1)

"'ipl['team1']=ipl['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')\nipl['team2']=ipl['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')\nipl['winner']=ipl['winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')\nipl['toss_winner']=ipl['toss_winner'].str.replace('Deccan Chargers','Sunrisers Hyderabad')"

In [6]:
index_names = ipl[(ipl.team1 == 'Deccan Chargers') | (ipl.team2 == 'Deccan Chargers') | (ipl.winner == 'Deccan Chargers') | (ipl.toss_winner == 'Deccan Chargers')].index
ipl.drop(index_names, inplace = True)

In [7]:
ipl['team1'] == 'Deccan Chargers'

0      False
1      False
2      False
3      False
5      False
       ...
811    False
812    False
813    False
814    False
815    False
Name: team1, Length: 741, dtype: bool

In [8]:
ipl.dtypes

id                   int64
city                object
date                object
player_of_match     object
venue               object
neutral_venue        int64
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
eliminator          object
method              object
umpire1             object
umpire2             object
dtype: object

In [9]:
#converting Date from string to "date time" format
#ipl['date'] = pd.to_datetime(ipl['date'])
#ipl.dtypes

Now we make **Predictors** columns for the target variable:

In [10]:
ipl.drop(["date","id", "player_of_match", 'umpire1', "venue", "umpire2","result","result_margin","eliminator","method"], axis=1, inplace=True)

In [11]:
ipl.head()

,city,neutral_venue,team1,team2,toss_winner,toss_decision,winner
0,Bangalore,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders
1,Chandigarh,0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings
2,Delhi,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals
3,Mumbai,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore
5,Jaipur,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals

In [12]:
X = ipl.drop(["winner"], axis=1)
y = ipl["winner"]

In [13]:
X = pd.get_dummies(X, ["city", "team1","team2", "toss_winner", "toss_decision"], drop_first = True)

Index(['neutral_venue', 'city_Ahmedabad', 'city_Bangalore', 'city_Bengaluru',
       'city_Bloemfontein', 'city_Cape Town', 'city_Centurion',
       'city_Chandigarh', 'city_Chennai', 'city_Cuttack', 'city_Delhi',
       'city_Dharamsala', 'city_Dubai', 'city_Durban', 'city_East London',
       'city_Hyderabad', 'city_Indore', 'city_Jaipur', 'city_Johannesburg',
       'city_Kanpur', 'city_Kimberley', 'city_Kochi', 'city_Kolkata',
       'city_Mumbai', 'city_Port Elizabeth', 'city_Pune', 'city_Raipur',
       'city_Rajkot', 'city_Ranchi', 'city_Sharjah', 'city_Visakhapatnam',
       'team1_Delhi Capitals', 'team1_Gujarat Lions', 'team1_Kings XI Punjab',
       'team1_Kochi Tuskers Kerala', 'team1_Kolkata Knight Riders',
       'team1_Mumbai Indians', 'team1_Pune Warriors', 'team1_Rajasthan Royals',
       'team1_Rising Pune Supergiant', 'team1_Rising Pune Supergiants',
       'team1_Royal Challengers Bangalore', 'team1_Sunrisers Hyderabad',
       'team2_Delhi Capitals', 'team2_Gujarat Lions', 'team2_Kings XI Punjab',
       'team2_Kochi Tuskers Kerala', 'team2_Kolkata Knight Riders',
       'team2_Mumbai Indians', 'team2_Pune Warriors', 'team2_Rajasthan Royals',
       'team2_Rising Pune Supergiant', 'team2_Rising Pune Supergiants',
       'team2_Royal Challengers Bangalore', 'team2_Sunrisers Hyderabad',
       'toss_winner_Delhi Capitals', 'toss_winner_Gujarat Lions',
       'toss_winner_Kings XI Punjab', 'toss_winner_Kochi Tuskers Kerala',
       'toss_winner_Kolkata Knight Riders', 'toss_winner_Mumbai Indians',
       'toss_winner_Pune Warriors', 'toss_winner_Rajasthan Royals',
       'toss_winner_Rising Pune Supergiant',
       'toss_winner_Rising Pune Supergiants',
       'toss_winner_Royal Challengers Bangalore',
       'toss_winner_Sunrisers Hyderabad', 'toss_decision_field'],
      dtype='object')

In [14]:
ipl.head()

,city,neutral_venue,team1,team2,toss_winner,toss_decision,winner
0,Bangalore,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders
1,Chandigarh,0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings
2,Delhi,0,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,Delhi Capitals
3,Mumbai,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore
5,Jaipur,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

ipl.dtypes

city             object
neutral_venue     int64
team1            object
team2            object
toss_winner      object
toss_decision    object
winner           object
dtype: object

In [63]:
ipl.columns

Index(['city', 'neutral_venue', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'winner'],
      dtype='object')

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, train_size = 0.75, test_size = 0.25)

In [17]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=2000,min_samples_split=2,
                               max_features = "log2")

Here we *train* the model:

In [18]:
model.fit(x_train, y_train)

RandomForestClassifier(max_features='log2', n_estimators=2000)

Now we **Test** the model:

In [19]:
y_pred = model.predict(x_test)

In [100]:
print(y_pred)

[12 12  6  0  6  8  0  9  0  5 12 11 12  1  5  0  6  8  6  5  8  1 11  8
  5  3 11 11  3  6  6  6  5  1  1  2  3  6  6  5  3  8  6  8  0  0 12  8
  0  5  5  6 11  6  5 12 12  0  6  6  0  6  0  0  0  0  5  8  6  0  5  8
  6  0 12  8  5  6  5  5  0 12  6  1 11  0  3  5  1  8  8  8  1  1  0  8
  5  1  0  6  6  3  0  1 11  3 12  2  6  0  8 12  0  6  0  6 12  1  6 12
  6  5  8  5  5  5  5 11  6  8 12  6  6  5  8  3  3  3  0  3  6  5  3  8
  6  0  0  5  6  6  5  5  3 12  8  1  1  1  1  4  6 11  5  6  3 11  5  5
 12  6 12  5  6 11  8  0  8  3  8  0  0  6  6 11  3  6]

**Note:** 

-> Higher the estimators, longer runtime but more accurate

-> min_samples_split: number of samples in each leaf, higher means lesser overfit but lower accuracy

In [20]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_pred, y_test)
ac

0.553763440860215

**############################################################**

In [21]:
mat = np.corrcoef(y_pred, y_test)
print(mat)

[[1.         0.46692198]
 [0.46692198 1.        ]]

In [22]:
combined = pd.DataFrame(dict(actual=y_pred, prediction=y_test))

In [23]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction  0   1   2   3   4   5   6   7   8   9   10  11  12  13
actual
0           14   2   0   1   0   1   1   2   5   2   0   0   1   0
1            2   7   0   2   0   0   0   0   1   0   0   2   1   0
2            0   0   2   0   0   0   0   0   0   0   0   0   0   0
3            1   3   0   7   0   2   1   0   0   0   0   2   0   0
4            0   0   0   0   0   0   0   0   0   0   0   1   0   0
5            1   1   0   2   0  19   0   1   2   0   0   3   1   0
6            3   3   0   2   0   1  25   0   1   0   1   3   1   0
8            0   3   0   1   1   1   2   0   9   0   0   3   1   2
9            0   0   0   0   0   0   0   0   0   1   0   0   0   0
11           1   0   1   4   0   0   0   0   0   0   0   6   0   0
12           0   0   0   3   0   0   0   0   0   0   0   1  13   0

In [24]:
from sklearn.metrics import precision_score

In [25]:
precision_score(y_test, y_pred)

ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

trying to get **Rolling Averages** for a team to try and improve acc

Note: Look into "

In [ ]:
grouped_matches = ipl.groupby("team1")
group = grouped_matches.get_group("Royal Challengers Bangalore")
group

In [ ]:
def rolling_avg(group, cols, new_cols):
    #group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3,closed='left'.mean())
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

##################################################################

Testing with our own data:

In [45]:
#user_input= ['Bangalore',0,'Royal Challengers Bangalore', 'Mumbai Indians', 'Royal Challengers Bangalore', 'bat']
#user_input = pd.get_dummies(user_input, ["city", "team1","team2", "toss_winner", "toss_decision"], drop_first = True)
#user_input = pd.get_dummies(user_input, ['Bangalore', 0, 'Royal Challengers Bangalore', 'Mumbai Indians', 'Royal Challengers Bangalore', 'bat','Royal Challengers Bangalore'], drop_first = True)

In [92]:
user_input = pd.DataFrame(data = [['Bangalore',0,'Royal Challengers Bangalore', 'Mumbai Indians', 'Royal Challengers Bangalore', 'bat']], columns = ['city', 'neutral_venue', 'team1', 'team2', 'toss_winner',
       'toss_decision'])

In [93]:
user_input

,city,neutral_venue,team1,team2,toss_winner,toss_decision
0,Bangalore,0,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,bat

In [94]:
user_input = pd.get_dummies(user_input)

In [95]:
user_input

,neutral_venue,city_Bangalore,team1_Royal Challengers Bangalore,team2_Mumbai Indians,toss_winner_Royal Challengers Bangalore,toss_decision_bat
0,0,1,1,1,1,1

In [96]:
user_input = user_input.reindex(columns = X.columns, fill_value=0)

In [97]:
user_input.shape

(1, 68)

In [98]:
pred = model.predict(user_input)

In [101]:
print(le.inverse_transform(pred))

['Mumbai Indians']